.animation{
    width: 200px;
    height: 300px;
    background-color: coral;
    animation: Color;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes Color{
    0% { background-color: coral;}
    
    25% { background-color: chocolate;}

    50% { background-color: brown;}

    75% { background-color: crimson;}

    100% { background-color: blue;}
}

.animation2{
    width: 5px;
    height: 5px;
    background-color: coral;
    animation: Color2;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes Color2{
    0% { width: 10px; height: 10px;}
    


    100% { width: 200px; height: 200px;}
}


.animation2{
    width: 300px;
    height: 300px;
    background-color: coral;
    animation: Color3;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes Color3{
    0% { border-radius: 5px;}
    


    100% { border-radius: 100px;}
}

.animation h1{
    font-size: 30px;
    text-align: left;
    color: rgb(12, 107, 161);
    animation-name: Move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes Move {
    from{
        padding-left: 0%;
    }

    to{padding-left: 100%;}
}

